    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About RareCamp</h2>
              <br/>
              <p> 
                <b> RareCamp, a Linux Foundation project, provides open governance for the software and scientific community to collaborate and create the software tools to aid in the creation of treatments for rare diseases.  </b>
              </p>
              <br/>
              <p> RareCamp was started as a collaboration between OpenTreatments Foundation and Linux Foundation to build a software platform to create gene therapies for rare diseases. This open source project powers the OpenTreamtments software platform, which is used by patient-led organizations to find treatments </p>
              <br/>

                <br/>
                    <a href="https://www.opentreatments.org">
                        <img src="img/opentreatments.png" class="logo" alt="OpenTreatments Foundation Software Platform"/>
                    </a>

                    <a href="https://www.linuxfoundation.org">
                        <img src="img/linuxfoundation.png" class="logo" alt="Linux Foundation"/>
                    </a>
                <br/>
                <br/>

              </div>
        </div>
    </section>
